{% extends 'adm/admHomeScreen.html' %}

{% block title %}Visualização{% endblock %}

{% block content %}
<form action="" method="GET">
    <input class="form-control me-2" type="search" placeholder="Buscar cliente.." placeholder="Search" name="search" id="search" aria-label="Search">
    <button class="btn btn-outline-light" type="submit">Search</button> 
</form>
<table class="table table-dark table-hover m-auto">
    <thead>
      <tr class="table-active">
        <th scope="row">Id</th>
        <th scope="row">Nome</th>
        <th scope="row">Sobrenome</th>
        <th scope="row">CNPJ</th>
        <th scope="row">Email de contato</th>
        <th scope="row">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for dbs in db%}
      {% csrf_token %}
      <tr>
        <th id="isd" scope="row">{{dbs.id}}</th>
        <td>{{dbs.nome}}</td>
        <td>{{dbs.sobrenome}}</td>
        <td>{{dbs.cnpj}}</td>
        <td>{{dbs.email_Cliente}}</td>
        <td>
          <a href="/delete/{{dbs.id}}/" class="btn btn-danger btn-del">Remover</a>
          <a href="/view/{{dbs.id}}/" class="btn btn-success">Visualizar</a></td>       
      </tr>
    </tbody>
    {% endfor %}
  </table>
{% endblock %}