{% extends 'adm/admHomeScreen.html' %}

{% block title %}Adm | Visualização{% endblock %}

{% block content %}
<form style="width: 52%; margin-left: 39%; margin-top: 10%; " class="formCliente" action="" method="GET">
    <input style="position: absolute; margin-top: -5%; width: 52%; color: #212529;" class="form-control me-2" type="search" placeholder="Buscar cliente..." placeholder="Search" name="search" id="search" aria-label="Search">
    <button style="position: absolute; margin-left: 53%; margin-top: -5%;" class="btn btn-outline-dark" type="submit">Search</button> 
</form>
<table style="margin-left: 39%; width: 54%; position: absolute;" class="table table-dark table-borderless">
    <thead>
      <tr>
        <th scope="row">Código</th>
        <th scope="row">Nome</th>
        <th scope="row">Sobrenome</th>
        <th scope="row">CNPJ</th>
        <th scope="row">Email de contato</th>
        <th scope="row"></th>
      </tr>
    </thead>
    <tbody>
      {% for dbs in db%}
      {% csrf_token %}
      <tr>
        <th id="isd" scope="row">{{dbs.id}}</th>
        <td>{{dbs.nome}}</td>
        <td>{{dbs.sobrenome}}</td>
        <td>{{dbs.cnpj}}</td>
        <td>{{dbs.email_Cliente}}</td>
        <td>
          <!-- <a style="margin-left: 5%;" href="/delete/{{dbs.id}}/" class="btn btn-outline-light btn-del">Remover</a>
          <a href="/view/{{dbs.id}}/" class="btn btn-outline-light">Visualizar</a></td>    -->
          <ul class="nav">
            <li class="nav-item dropdown">
              <a style="color: #ffffff; text-decoration: none; width: 20%;" class="dropdown-toggle" id="navbarDarkDropdownMenuLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Opções</a>
              <div class="dropdown-menu dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <a style="width: 60%; text-decoration: none;" class="dropdown-item btn btn-outline-light" href="/view/{{dbs.id}}/{{dbs.nome_De_Usuario}}/">Visualizar</a>
                <a style="width: 60%; text-decoration: none;" class="dropdown-item btn btn-outline-light btn-del" href="/delete/{{dbs.id}}/">Remover</a>
              </div> 
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  <p style="position: absolute; margin-top: -7%; margin-left: 12%;">Situação dos pagamentos</p>
  <div id="top_x_div" style="width: 250px; height: 200px; margin-top: -4%; margin-left: 1%;"></div>
  <div style="width: 35%; position: absolute; margin-top: 2%;font-weight: 200; margin-left: 2%; background-color: #212529; color: white;">
    <p style="margin-left: 2%; margin-top: 2%;">Total de clientes</p>
    <p style="font-size: 1.5rem; margin-top: -3%;margin-left: 2%;">0</p>
    <hr>
    <p style="margin-left: 2%;margin-top: -3%;">Quantidade de pagamentos em dia</p>
    <p style="margin-top: -3%;margin-left: 2%;">50</p>
    <p style="margin-left: 2%; margin-top: -3%;">Quantidade de pagamentos em atraso</p>
    <p style="margin-top: -3%;margin-left: 2%;">25</p>
    <p style="margin-left: 2%; margin-top: -3%;">Quntidade de clientes inadimplentes</p>
    <p style="margin-top: -3%;margin-left: 2%;">25</p>
    <input type="button" style="font-weight: 500;margin-top: -10%; position: absolute; margin-left: 70%;" class="btn btn-outline-light" value="Ver detalhes">

  </div>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);
      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
          ['Pagamentos', 'Porcentagem'],
          ["Em dia", 50],
          ["Atrasados", 25],
          ["Inadimplentes", 25],
        ]);
        var options = {
          width: 500,
          legend: { position: 'none' },
          bar: { groupWidth: "20%" }
        };
        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        // Convert the Classic options to Material options.
        chart.draw(data, google.charts.Bar.convertOptions(options));
      };
    </script>
{% endblock %}