@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.content {
    max-width: max-content;
}   

.title_ {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}


.metodo_pag {
    position: absolute;
    right: 30px;
    top: 0px;
    width: calc(100% - 70px);
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    transition: 0.5s;
    color: #fff;
}
.metodo_pag {
    position: fixed;
    background-color: #212529;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    color: #fff;
    z-index: 100;
    border: 2px 2px 2px white;
}
.metodo_pag form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.metodo_pag form p {
    list-style: none;
}
.metodo_pag form p input {
    color: #212529;
    text-decoration: none;
    font-size: 1em;
    margin: 10px;
    transition: 0.5s;
}
.div_cartao {
    width: 400px;
    height: 400px;
    margin-right: 36%;
    position: absolute;
    background-color: #212529;
}

/* .div_cartao hr {
    padding: 5px;
    transition: 0.5s;
}
.div_cartao hr:hover {
    transition: 0.5s;
    padding: 100px;
    
} */
.div_boleto {
    width: 400px;
    height: 400px;
    position: absolute;
    margin-left: 25%;
    background-color: #212529;
}
.d {
    transition: 0.5s;
}
.hr {
    padding: 5px;
    transition: 0.5s;
}
.d.active {
    padding: 5px;
    transition: 0.5s;
}

.hr.active {
    padding: 0px;
    transition: 0.5s;
}

.div_boleto h5 {
    margin-left: 35%;
}

.div_cartao h5 {
    margin-left: 25%;
}

.screenLimit {
    right: 30px;
    top: 797px;
    width: calc(50% - 10px);
    justify-content: center;
    align-items: center;
    height: 380px;
    text-align: center;
    font-weight: 100;
    position: absolute;
    margin-right: 40%;
    background-color: #fff;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    box-shadow: -15px -15px 15px rgba(0,0,0,0.1),
                15px 15px 15px rgba(0,0,0,0.1);
}
.screenLimit {
    position: fixed;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    color: rgb(0, 0, 0);
    z-index: 100;
    border: 2px 2px 2px white;
}
.table {
    right: 0px;
    top: 100px;
    width: calc(100% - 500px);
    justify-content: center;
    align-items: center;
    margin-right: 32%;
    transition: 0.5s;

}
.table {
    position: fixed;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    border: 2px 2px 2px white;
}

.table.active {
    transition: 0.5s;
    top: -100%;
}
.screenLimit.active {
    transition: 0.5s;
    display: block;
    top: 23%;
}

footer {
    background-color: black;
    margin-top: 65%;
    left: 0;
    width: 100%;
    padding: 70px;
    background-color: #212529;
    color: white;
    text-align: center;
}
.cde .ss {
    margin-left: 0%;
    background-color: red;
} 

.content-top {
    font-weight: 600;
    margin-left: 5%;
    margin-top: 2%;
} 

.row {
    display: table;
    padding: 0 20px;
    width: 100%;
}
.row form {
    width: 100%;
    margin: 0 auto;
    /* box-shadow: 0 4px 8px #999; */
}
.row label {
    margin: 5px;
    font-weight: 600;
}
.row input {
    width: 100%;
}
body {
    background-color: rgba(255, 255, 255, 0.5);
}
.div_content {
    display: none;
    /* overflow-y: scroll; */
    position: absolute;
    right: 30px;
    width: calc(50% - 0px);
    justify-content: center;
    align-items: center;
    font-weight: 100;
    color: #fff;
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
    z-index: 100;
    border: 2px 2px 2px white;
}

.div_content.active,.toggle.active {
    right: 100%;
} 
.sss form {
    width: 35%;
    height: 100%;
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(0,0,0,0.1),
                15px 15px 15px rgba(0,0,0,0.1);
}
.sss input {
    margin: 5%;
}

/* .div_content form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin-top: 10px;
    grid-row: 1;
}

.div_content form p {
    list-style: none;
    font-weight: 500;
}

.div_content form p input {
    color: #212529;
    text-decoration: none;
    font-size: 1em;
    margin: 2px;
    margin-right: -50%;
    transition: 0.5s;
} */

.toggle {
    border-radius: 20px;
    position: fixed;
    top: 50px;
    right: 30px;
    width: 50px;
    height: 50px;
    right: -100%;
    background: url(img/75519.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
    box-shadow: -15px -15px 15px rgba(49, 48, 48, 0.1),
                15px 15px 15px rgba(0,0,0,0.1);
}

.div_content:hover,.toggle:hover {
    background-color: #212529;
}

.list-group {
    margin-top: 10px;
    transition: 0.5s;
}
.asb {
    float: left;
    display: block;
    margin-left: 5%;
    margin-right: -10%;
    margin-top: 5%; 
    margin-bottom: auto;   
}
.asb ul li{
    background-color: #212529;
    color: #fff;
}

.div-content {
    margin-right: 5%;
    position: absolute;
    margin-left: 50%;
    margin-top: 5%;
    text-align: center;
}
.div-content h3 {
    margin-bottom: 2%;
    font-weight: 600;
}

.cde {
    position: absolute;
    background-color: #212529;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 70%;
    color: #fff;
    width: 350px;
    height: 250px;
    padding-top: 10px;
    border-radius: 10px;
}


.sss {
    position: absolute;
    right: 30px;
    top: 0px;
    width: calc(100% - 70px);
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    transition: 0.5s;
    color: #fff;
    
}

.sss {
    position: fixed;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    right: -100%;
    color: #fff;
    z-index: 100;
    border: 2px 2px 2px white;
    
}

.sss.active,.toggle.active {
    display: flex;
    transition: 0.5s;
    right: 2%;
} 

.sss form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sss form p {
    list-style: none;
}
.sss form p input {
    color: #212529;
    text-decoration: none;
    font-size: 1em;
    margin: 10px;
    transition: 0.5s;
}

.sss:hover,.toggle:hover {
    background-color: #212529;
}

.divForm{
    /* margin-left: 25%;
    margin-top: 5%; */
    transition: 0.5s;
    width: 671px;
    height: 500px;
    border-radius: 10px;
    background: #212529;
}

.divBtn {
    position: absolute;
    margin-left: 950px;
    margin-top: 23%;
}

/* .cde :hover {
    transition: 0.5s;
    margin-left: -100%;
} */

div .colapse .navbar {
    background-color: #1b2430;
}

div .title {
    text-transform: uppercase;
    font-size: 30px;
}
section {
    min-height: 100vh;
    background: #557085;
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: 0.5s;
}
section.activate {
    background: #003f5e;
}
.container {
    position: relative;
    width: 800px;
    height: 452px;
    background-color: #fff; 
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    overflow: hidden;
}
.signupBx {
    position: absolute;
}
.user {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100%;
}
.imgBx {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: 0.5s;
}
.img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.formBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}
.formBx h2 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}
.formBx input {
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}

.formBx input[type="submit"] {
    max-width: 100px;
    background-color: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}
.signupBx .formBx input[type="submit"] {
    background-color: #e73e49;
}
.signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}
.signup a {
    font-weight: 600;
    text-decoration: none;
    color: #577ef5;
}

.container .signupBx {
    pointer-events: none;
}
.container.activate .signupBx {
    pointer-events: initial;
}
.container .signupBx .formBx {
    top: 100%;
}
.container.activate .signupBx .formBx {
    top: 0;
}
.container .signupBx .imgBx {
    top: -100% ;
    transform: 0.5s; 
}
.container.activate .signupBx .imgBx {
    top: 0;
}
.container.activate .signinBx .formBx {
    top: 0;
}
.container.activate .signinBx .formBx {
    top: 100% ;
}
.container.activate .signinBx .imgBx {
    top: 0;
    transition: 0.5s;
}
.container.activate .signinBx .imgBx {
    top: -100% ;
}
@media (max-width: 991px) {
    .container {
        max-width: 400px;
    }
    .imgBx {
        display: none;
    }
    .user .formBx {
        width: 100%;
    }
    .container.activate .signinBx .formBx {
        top: -100%;
    }
}