{% extends 'clienteSide/clienteHomeScreen.html' %}
{% block title %}Cliente | Documentação{% endblock %}
{% block content %}
<div class="contentSolic">
    <h1>Hello World!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam enim esse quibusdam fuga voluptas! Sed ab saepe ad voluptatum. Ducimus fugiat, recusandae ex itaque cumque nesciunt dicta veniam. Labore, nostrum.</p>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
</div>
<div class="docs">
    <h1>ABC</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi eum sit laboriosam, reprehenderit quia illum, nam saepe sunt eveniet omnis perspiciatis at magnam voluptatibus explicabo temporibus sed illo ipsam. Nisi?</p>
</div>
{% endblock %}


