{% extends 'clienteSide/clienteHomeScreen.html' %}
{% block title %}Cliente | Documentação{% endblock %}
{% block content %}
<div class="asb">
  <form method="GET" class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Buscar documento..." placeholder="Search" name="search" id="search" aria-label="Search">
      <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
      {% if db %}
      <ul class="list-group list-group-flush">
        {% for dbs in db %}
        <h4 style="margin-bottom: 0%; margin-top: 10px;">DOCUMENTOS</h4>
          <hr style="padding: 2px;">
        {% if search == 'Balanços' %}
        <li class="list-group-item">{{dbs.balancos}}</li>
        {% elif search == 'Faturamento' %}
        <li class="list-group-item">{{dbs.faturamento_Anual}}</li>
        {% elif search == 'Contrato social' %}
        <li class="list-group-item">{{dbs.doc_Contrato_Social}}</li>
        {% elif search == 'Renda Bruta' %}
        <li class="list-group-item">{{dbs.renda_Bruta_Anual}}</li>
        {% elif search == 'Indice liquidez' %}
        <li class="list-group-item">{{dbs.indice_Liquidez}}</li>
        {% elif search == 'Indice de dívidas' %}
        <li class="list-group-item">{{dbs.doc_Indice_Dividas}}</li>
        {% elif search == 'Rentabilidade investimentos' %}
        <li class="list-group-item">{{dbs.rentabilidade_Investimentos}}</li>
        {% elif search == 'Holerites' %}
        <li class="list-group-item">{{dbs.holerites_Doc}}</li>
        {% elif search == 'Declaração IR' %}
        <li class="list-group-item">{{dbs.doc_Declaracao_IR}}</li>
        {% elif search == 'Receita operacional' %}
        <li class="list-group-item">{{dbs.receita_Operacional}}</li>
        {% elif search == 'Valores contabeis' %}
        <li class="list-group-item">{{dbs.doc_Valores_Contabeis}}</li> 
        {% else %}
          <li class="list-group-item">{{dbs.balancos}}</li>
          <li class="list-group-item">{{dbs.faturamento_Anual}}</li>
          <li class="list-group-item">{{dbs.doc_Contrato_Social}}</li>
          <li class="list-group-item">{{dbs.renda_Bruta_Anual}}</li>
          <li class="list-group-item">{{dbs.indice_Liquidez}}</li>
          <li class="list-group-item">{{dbs.doc_Indice_Dividas}}</li>
          <li class="list-group-item">{{dbs.rentabilidade_Investimentos}}</li>
          <li class="list-group-item">{{dbs.holerites_Doc}}</li>
          <li class="list-group-item">{{dbs.doc_Declaracao_IR}}</li>
          <li class="list-group-item">{{dbs.receita_Operacional}}</li>
          <li class="list-group-item">{{dbs.doc_Valores_Contabeis}}</li>
        </ul>
        {% endif %}
        {% endfor %} 
      </ul>
      {% else %}
      <p style="margin-top: 10%;">
        Nenhum dado encontrado...</br>Parece que você ainda não preencheu o formulário.
      </p>
      <input style="width: 100%; font-weight: 400; margin-top: 0%;" class="btn btn-outline-dark" type="button" onclick="toggleMenu()" value="Preencher Formulário">
      {% endif %}
    </div>
    <div class="div_content">
      <div  onclick="toggleMenu();" class="toggle"></div>
  <div class="row">
    <form id="forms" method="post" action="">
      {% csrf_token %}
      <label for="exampleFormControlInput1" class="form-label">Balanços</label>
      <input type="text" name="balancos" placeholder="Valor dos balanços" maxlength="200" required="" id="id_balancos">
      <label for="exampleFormControlInput1" class="form-label">Faturamento Anual</label>
      <input type="number" placeholder="Faturamento anual" name="faturamento_Anual" step="0.01" required="" id="id_faturamento_Anual">
      <label for="exampleFormControlInput1" class="form-label">Contrato Social</label>
      <input type="text" placeholder="Contrato Social" name="doc_Contrato_Social" maxlength="120" required="" id="id_doc_Contrato_Social">
      <label for="exampleFormControlInput1" class="form-label">Renda Anual Bruta</label>
      <input type="number" placeholder="Renda Bruta Anual" name="renda_Bruta_Anual"  step="0.01" required="" id="id_renda_Bruta_Anual">
      <label for="exampleFormControlInput1" class="form-label">Indice de Liquidez</label>
      <input type="number" placeholder="Indice Liquidez" name="indice_Liquidez" step="0.01" required="" id="id_indice_Liquidez">
      <label for="exampleFormControlInput1" class="form-label">Indice de Dívidas</label>
      <input type="text" placeholder="Indice de Dívidas" name="doc_Indice_Dividas" maxlength="60" required="" id="id_doc_Indice_Dividas">
      <label for="exampleFormControlInput1" class="form-label">Rentabilidade em Investimentos</label>
      <input type="number" placeholder="Rentabilidade em Investimentos" name="rentabilidade_Investimentos" step="0.01" required="" id="id_rentabilidade_Investimentos">
      <label for="exampleFormControlInput1" class="form-label">Holerites</label>
      <input type="text" placeholder="Holerites" name="holerites_Doc" maxlength="60" required="" id="id_holerites_Doc">
      <label for="exampleFormControlInput1" class="form-label">Declaração de IR</label>
      <input type="text" placeholder="Declaração de Imposto de Renda" name="doc_Declaracao_IR" maxlength="60" required="" id="id_doc_Declaracao_IR">
      <label for="exampleFormControlInput1" class="form-label">Receita Operacional</label>
      <input type="text" placeholder="Receita Operacional" name="receita_Operacional" required="" id="id_receita_Operacional">
      <label for="exampleFormControlInput1" class="form-label">Valores Contabeis</label>
      <input type="text" placeholder="Valores Contabéis" name="doc_Valores_Contabeis" maxlength="40" required="" id="id_doc_Valores_Contabeis"> 
      <input type="submit" value="Solicitar" style="font-weight: 500;margin: 5px; padding-left: 50px; margin-top: 30px;" class="btn btn-outline-light" value="Solicitar Empréstimo"> 
    </form>
  </div>
</div>
<div class="div-content">
  <div id="donutchartt" style="width: 700px; margin-left: -16%; margin-top: -8%; height: 400px;"></div>
  <div style="z-index: 1000; position: absolute; margin-top: -5%; width: 500px;">
    <h3>Você já enviou 65% da documentação necessaria para a análise de crédito</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi eum sit laboriosam, reprehenderit quia illum, nam saepe sunt eveniet omnis perspiciatis at magnam voluptatibus explicabo temporibus sed illo ipsam. Nisi?</p>
</div>
</div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Entregue',     65],
          ['Faltante',     45],
         
        ]);

        var options = {
          pieHole: 0.5,
          pieSliceTextStyle: {
            color: 'black',
          },
          legend: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchartt'));
        chart.draw(data, options);
      }
    </script>

<script>
  function toggleMenu() {
    const menuToggle = document.querySelector('.toggle');
    const sss = document.querySelector('.div_content');
    sss.style.display = "block";
    menuToggle.classList.toggle('active');
    sss.classList.toggle('active');
  }
</script>
{% endblock %}
