<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitações | Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="../../static/style.css">
  
</head>
<body>
    <nav style="font-size: 12pt;" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/cliente">Inicio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="/documentos">Documentação</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/solicitacoes">Solicitar</a>
              </li>
              <li class="nav-item dropdown">
            </ul>
            <form class="d-flex" method="GET">
              <div class="collapse navbar-collapse">
                <ul class="nav">
                  <li class="nav-item dropdown">
                    <a style="color: white;" class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Configurações</a>
                    <div class="dropdown-menu dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                      <a class="dropdown-item" href="#">Algo mais aqui</a>
                      <a class="dropdown-item" href="#">Algo mais aqui</a>
                      <a class="dropdown-item" href="#">Algo mais aqui</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/logout{% if user.is_authenticated %}/{{db.id}}/{% else %}/{{aux.id}}/{% endif %}"><i class="fas fa-sign-out-alt"> Sair</i></a>
                    </div> 
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </nav>
    <div class="col-8">
      <table class="table table-dark table-hover">
          <tr class="table-active">
            <th scope="row">Código</th>
            <th scope="row">Data primeira parcela</th>
            <th scope="row">Valor</th>
            <th scope="row">Parcelas</th>
            <th scope="row">Valor Parcelas</th>
            <th scope="row">Sobre</th>
          </tr>
          {% for dbs in db %}
          <tr id="{{dbs.id}}" >
            <th scope="row">{{dbs.id}}</th>
            <td class="sol" >{{dbs.data_Solicitacao}}</td>
            <td class="val">R$ {{dbs.valor}}</td>
            <td class="par">{{dbs.qtde_Parcelas}}</td>
            <td class="valUn">R$ {{dbs.valor_unitario}}</td>
            <td><input id="" onclick="pagmento()" type="button" style="font-weight: 500;margin: 5px;" class="btn btn-outline-light" value="Ver detalhes"></td>
          </tr>
          {% endfor %}
      </table>
      <div class="screenLimit">
        <form action="" method="POST">
          {% csrf_token %}
          <h3 style="color: #212529; border-radius: 10px; text-align: center;">NOVO LIMITE</h3>
          <hr size="5px" class="hrLimite">
          <input type="number" name="limite" value="{{j.limite}}" step="0.01" required="" id="id_limite">
          <input type="submit" style="font-weight: 500;margin: 5px;" class="btn btn-outline-dark" value="Alterar Limite">  
        </form>
      </div>
      <div class="cde">
        <p>Limite Aprovado</p>
        <hr style="background-color: #7284a8;">
        {% for value in valor_limite %}
        {% if value %}
        <p>R$ {{value.limite}}</p>
        {% else %}
        <p>Defina um limite...</p>
        {% endif %}
        {% endfor %}
        <p>Lorem,  adipisicing elit.Porro odio repudiandae veritatis iure possimus rem quibusdam? Sed modi.</p>
      </div>
      
      <div class="divBtn">
        <input onclick="toggleMenu();" type="button" style="font-weight: 500;margin: 5px;" class="solicitarEmprestimo btn btn-outline-dark" value="Solicitar Empréstimo">
        <input onclick="toggleMenu2();" style="font-weight: 500;margin: 5px;" type="button" class="btn btn-outline-dark" type="button" value="Aumentar Limite">
      </div>
    </div> 
    <div class="sobre">
      <div onclick="pagmento();" class="toggle3"></div> 
      <p style="margin-top: 5%; font-size: 1rem;">VALOR DO EMPRÉSTIMO</p>
      <p style="font-size: 2.5rem;" class="pg01"></p>
      <hr>
      <p>Quantidade de parcelas</p>
      <p class="pg02">12</p>
      <hr>
      <p>Valor da fatura</p>
      <p class="pg03">R$ 10230</p>
      <hr>
      <p>Mês do pagamento</p>
      <p class="pg04">31/10/2001</p>
      <p class="pg05">31/10/2001</p>
      <p style="float: right; margin-right: 5%; margin-top: -9%;">Escolha uma forma de pagamento</p>
      <input onclick="met_payment()" class="btn btn-outline-light" type="button" value="Selecionar">
    </div>
    <div class="metodo_pag">
      <div onclick="met_payment();" class="toggle2"></div>
      <hr style="background-color: white;">
      <hr>
      <form action="" method="post">
        {% csrf_token %}
        <div class="div_cartao">
          <h5 onclick="payment()"> CARTÃO DE CRÉDITO</h5>
          <hr class="hr">
          <div class="cartao_content">
            <p class="description_p">TITULAR DO CARTÃO</p>
            <input style="margin-bottom: 5%;" type="text">
            <p class="description_p">NÚMERO DO CARTÃO</p>
            <input style="margin-bottom: 5%;" type="text"><img style="margin-left: -10%;margin-top: 4%; position: absolute;"  width="25px" src="../../static/img/1200px-Old_Visa_Logo.svg.png" alt=""><img style="margin-left: -18%;margin-top: 4%; position: absolute;"  width="25px" src="../../static/img/logo-cielo.png" alt=""><img style="margin-left: -25%;margin-top: 4%; position: absolute;"  width="25px" src="../../static/img/mcbc_refeicao-rev_84px.png" alt="">
            <p class="description_p" style="font-size: 9pt;">DATA DE VALIDADE</p>
            <input style="width: 27%; padding-right: 0px; text-align: center;" placeholder="MM/AA" type="text">
            <p style="margin-left: 89%; margin-top: -15%;; position: absolute; font-size: 9pt; margin-left: 55%;">CÓDIGO DE SEGURANÇA</p>
            <input style="float: left; position: absolute; width: 39%; text-align: center;" placeholder="CVV" type="text">
            <div class="form-check form-switch">
              <p style="position: absolute;padding-left: 8px;padding-top: 3px;font-size: 10pt;margin-right: 20%;">Armazenar minhas informações de pagamento. <a href="">Saiba mais</a></p>
              <input style="margin-left: 83%;" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            </div>
            <p style="position: absolute; margin-left: 12%; margin-top: 7%; font-size: 10pt;">CPF</p>
            <input style="margin-top: 10%;" type="text">
            <div style="overflow: auto;">
              <p class="" style="position: relative; margin-top: 1%; margin-left: 12%; width: auto; height: 100px; ">Ao selecionar "Concordar e Solicitar" Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quia laborum, hic provident illum pariatur deserunt minima repudiandae quidem quasi tenetur consequuntur accusamus, consequatur corrupti animi suscipit veritatis id blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem odio quaerat dolore tempora dolorum, atque deleniti obcaecati incidunt vel culpa soluta.</p>
            </div>
            <input onclick="" type="button" style="margin-left: 12%; font-weight: 500; width: 80%; margin-top: 6%; padding: 15px;" class="btn btn-outline-dark" value="Concordar e Definir">
          </div>
        </div>
        <div class="div_boleto" >
          <h5 onclick="payment()"> BOLETO</h5>
            <hr class="d">
            <div class="boleto_content">
              <p>Pagar valor de
                <p style="font-size: 3rem;">R$ 1230</p> 
                <hr>
                <a href="../../../Untitled Diagram.pdf" download="Boleto.pdf" type="application/pdf"><i class="fas fa-ticket-alt"> Gerar boleto</i></a>
              </p>
              <hr style="width: 40%; padding: 2px; color: #7284a8;">
              <p>Pagar boleto com</br>
                <a href="#"><i class="fab fa-paypal"> PayPal</i></a>  |  <a href="#"><img style="width: 65px;"  src="../../static/img/logo-picpay-1024.png" alt="PicPay"></a>
              </p>
            </div>
          </div>
        </form>
      </div>
    <div onmouseover="changeBackgroundColor()" onmouseout="backToPreviousBackgroundColor()" class="sss">
      <div onclick="toggleMenu();" class="toggle"></div>
      <h3 style="padding: 100px;">SOLICITE UM EMPRÉSTIMO</h3>  
      <hr style="background-color: white;">
      <form id="forms" method="post" action="">
        {% csrf_token %}
        <p style="margin-right: 15%; position: absolute; margin-top: -29%; font-weight: 400;" >VALOR DO EMPRÉSTIMO
          <p class="sigla">R$</p><p class="resultado" id="resultado" style="font-size: 3rem; margin-right: 4%; position: absolute;margin-top: -20%;"> 00.000,00</p><a class="acio" href="#" onclick="setValue()" style="margin-top: -21%; color: white; margin-left: 19%; position: absolute;"><i class="fas fa-pen"></i></a>
          <input style="margin-top: -16%;padding: 12px; width: 20%; margin-left: -3%;position: absolute;" type="number" placeholder="Novo empréstimo" class="vaalor" value="0.00" name="valor" required="" step=".01" id="id_valor">
          <input onmouseout="calcJuros()" onmouseover="c()" onclick="setValue()" class="btn01 btn btn-outline-dark" placeholder="Valor" value="Alterar" type="button"><!--Fazer update no banco de dados-->
        </p>
        <label style="margin-left: -37%; margin-top: 42%;"for="">Escolha o tipo de empréstimo</label>
        <select style="border: none;color: white;" class="b form-select" aria-label="Default select example">
          <option selected>Empréstimo pessoal</option>
          <option value="">Emprestimo com portabilidade de salário</option>
        </select>
        <hr>
        <label style="margin-left: -37%; margin-top: -2%;" for="">Escolha o número de parcelas</label>
        <select required="" name="qtde_Parcelas" id="id_qtde_Parcelas" style="color: white; border: none; overflow: auto;" class="a form-select" aria-label="Default select example">
          <option class="opt" >12x de R$ 11,17</option>
          <option value="2">2 parcelas de <b>R$ 53,77</b></option>
          <option value="1">1 parcela de <b>R$ 105,10</b></option>
          <option value="3">3 parcelas de <b>R$ 36,67</b></option>
          <option value="4">4 parcelas de <b>R$ 28,12</b></option>
          <option value="5">5 parcelas de <b>R$ 23,01</b></option>
          <option value="6">6 parcelas de <b>R$ 23,01</b></option>
          <option value="7">7 parcelas de <b>R$ 23,01</b></option>
          <option value="8">8 parcelas de <b>R$ 23,01</b></option>
          <option value="9">9 parcelas de <b>R$ 23,01</b></option>
          <option value="10">10 parcelas de <b>R$ 23,01</b></option>
          <option value="11">11 parcelas de <b>R$ 23,01</b></option>
          <option value="12">12 parcelas de <b>R$ 23,01</b></option>
        </select>
        <label style="margin-left: -28%;margin-top: 14%;" for="">Escolha a data da primeira parcela</label>
        <input name="data_Solicitacao" required="" id="id_data_Solicitacao" style="color: white; margin-left: -53%;border-radius: 5px; padding-left: 10px; margin-top: 0%;" class="data01" type="date">
        <p style="color: white; position: absolute; margin-left: -18%;margin-top: 16%; font-size: 11pt;"><b>Juros de 4.45% ao mês</b></p>
        <p style="position: absolute; margin-top: 34%; margin-right: -19%;">
          Total a pagar</br>
          <p style="position: absolute; display: inline; margin-top: 38%; margin-left: auto; margin-right: -21%; font-size: 1.5rem;" ><b class="res">0.00</b> </p>
        </p>
        <input style="display: none; position: absolute;" class="unitario" placeholder="Valor da parcela" type="number" name="valor_unitario" id="id_valor_unitario">
        <!-- <input type="number" placeholder="Valor" name="valor" required="" id="id_valor">
        <input placeholder="Data da solicitação" type="text" name="data_Solicitacao" required="" id="id_data_Solicitacao">
        
        <input placeholder="Valor da parcela" type="number" name="valor_unitario" required="" id="id_valor_unitario">
        <input placeholder="Situação do empréstimo" type="text" name="situacao" maxlength="40" required="" id="id_situacao">
          -->
        <input type="submit" onclick="definirValorUnitario()" style="font-weight: 500;margin: 5px; margin-right: 50%; margin-top: -1%;" class="btn btn-outline-light" value="Solicitar Empréstimo">
      </form>
    </div>

      <script>
       /*  $('.value-plus').on('click', function(){ */
       /*    var lista = $('.invert > span'); */
       /*    $.each(lista, function(index,item){ */
       /*      valor = $(item).text(); */
       /*      alert(valor); */
       /*    }); */
       /*  }); */
        (() => {
          var valor = document.querySelector('.val').innerHTML;
          var data_parcela = document.querySelector('.sol').innerHTML;
          var qtde_par = document.querySelector('.par').innerHTML;
          var valor_unitario = document.querySelector('.valUn').innerHTML;
          var ul = document.getElementById("dbs.id");
          document.querySelector('.pg01').innerHTML = valor;
          document.querySelector('.pg02').innerHTML = qtde_par;
          document.querySelector('.pg03').innerHTML = valor_unitario;
          document.querySelector('.pg04').innerHTML = data_parcela;
          document.querySelector('.pg05').innerHTML = ul;
        })()
        function pagmento() {
          var about = document.querySelector('.sobre');
          const menuToggle = document.querySelector('.toggle3');
          about.classList.toggle('active');
          menuToggle.classList.toggle('active');
        }
        function definirValorUnitario() {
          var select = document.querySelector('.a');
          var parcelas = parseInt(select.options[select.selectedIndex].value);
          var valor = parseInt(valorr)
          var percent = (valor / parcelas)
          resultado = ((((percent * 5.1) / 100) + percent)).toFixed(2);
          document.getElementById('qtdePc').value = resultado;
        }
        function backToPreviousBackgroundColor() {
          document.querySelector('.opt').style.background = "#000";
          document.querySelector('.opt').style.transition = "0.5s";
          document.querySelector('.a').style.background = "#000";
          document.querySelector('.a').style.transition = "0.5s";
          document.querySelector('.b').style.background = "#000";
          document.querySelector('.b').style.transition = "0.5s";
          document.querySelector('.data01').style.background = "#000";
          document.querySelector('.data01').style.transition = "0.5s";
        }
        function changeBackgroundColor() {
          document.querySelector('.a').style.background = "#212529";
          document.querySelector('.a').style.transition = "0.5s";
          document.querySelector('.b').style.background = "#212529";
          document.querySelector('.b').style.transition = "0.5s";
          document.querySelector('.data01').style.background = "#212529";
          document.querySelector('.data01').style.transition = "0.5s";
        }
        function calcJuros() {
          var valorr = document.querySelector('.vaalor').value;
          var select = document.querySelector('.a');
          var parcelas = parseInt(select.options[select.selectedIndex].value);
          var valor = parseInt(valorr)
          var percent = (valor / parcelas)
          document.querySelector('.res').innerHTML = ((((percent * 5.1) / 100) + percent) * parcelas).toFixed(2);
          document.querySelector('.unitario').value = Math.round(((((percent * 5.1) / 100) + percent))).toFixed(2);
          document.querySelector('.parcelas').innerHTML = parcelas;
        }
        function c() {
          var count = document.querySelector('.vaalor').value;
          document.querySelector('.resultado').innerHTML = count;
        }
        function setValue() {
          value = document.querySelector('.vaalor');
          sigla = document.querySelector('.sigla');
          show = document.querySelector('.resultado')
          btn = document.querySelector('.btn01')
          a = document.querySelector('.acio')
          value.classList.toggle('active')
          btn.classList.toggle('active')
          a.classList.toggle('active')
          sigla.classList.toggle('active')
          show.classList.toggle('active')
        }
        $(document).ready(function() {
          var btn = $('.btn btn-secondary dropdown-toggle');
          var btnDropDown = $('.dropdown-menu dropdown-menu-lg-end');
          botao.on('click', function(event) {
            btnDropDown.stop(true, true).slideToggle();
            event.stopPropagation();
          })
        })
        function met_payment() {
          x = document.querySelector('.metodo_pag');
          const menuToggle = document.querySelector('.toggle2');
          menuToggle.classList.toggle('active');
          x.classList.toggle('active')
        }
        function payment() {
          x = document.querySelector('.d');
          y = document.querySelector('.hr');
          c_content = document.querySelector('.cartao_content');
          b_content = document.querySelector('.boleto_content');
          c_content.classList.toggle('active');
          b_content.classList.toggle('active');
          x.classList.toggle('active');
          y.classList.toggle('active');
        } 
        function toggleMenu2() {
          const ddd = document.querySelector('.table');
          const xxx = document.querySelector('.screenLimit')
          ddd.classList.toggle('active');
          xxx.classList.toggle('active');
        }
        function toggleMenu() {
          const menuToggle = document.querySelector('.toggle');
          const sss = document.querySelector('.sss');
          menuToggle.classList.toggle('active');
          sss.classList.toggle('active');
        }
      </script> 
    <!-- Dropdown do bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>