<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <section>
    <div class="container">
      <div class="user signinBx">
        <div class="imgBx">
          <img class="img" src="../static/img/flowers.jpg" alt="Flowers"></div>
          <div class="formBx">
            <form method="POST">
              <!--
              {% if form.is_authenticated %}
              {{form.senha_Cliente}}
              {% else %}
              {{form.nome_De_Usuario}}
              {% endif %}-->
              <h2>Sign In</h2>
              <input placeholder="username" maxlength="40" name="nome_De_Usuario" id="nome_De_Usuario" aria-label="username" type="text">
              <input placeholder="password" maxlength="15" name="senha_Cliente" id="id_senha_Cliente" aria-label="password" type="password">
              <input type="submit" value="Login">
              <p class="signup"><a onclick="toggleForm();" href="#">log in </a> as administrator</p>
            </form>
          </div>
      </div>
      <div class="user signupBx">
          <div class="formBx">
            <form method="POST">
              <h2>Sign In</h2>
              <input type="text" placeholder="Adm Username">
              <input type="password" placeholder="Adm Password">
              <input type="submit" value="Sign Up">
              <p class="signup">Login as a customer? <a onclick="toggleForm();" href="#">Sign in.</a></p>
              <p class="signup"><a href="#">Forgot password?</a></p>
            </form>
          </div>
          <div class="imgBx"><img class="img" src="../static/img/flowers2.jpg" alt="Flowers"></div>
      </div>
    </div>
  </section>
  <script>
    function toggleForm() {
      section = document.querySelector('section');
      container = document.querySelector('.container');
      container.classList.toggle('activate');
      section.classList.toggle('activate');
    }
  </script>
</body>
</html>
