{% extends 'index.html' %}

{% block title %}Visualização{% endblock %}

{% block content %}
<div class="col-8 m-auto pt-4 text-center">
  <h1>Visualização</h1>
  <hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Estado Civil</th>
        <th scope="col">WhatsApp</th>
        <th scope="col">CNPJ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{db.id}}</th>
            <td>{{db.nome}}</td>
            <td>{{db.sobrenome}}</td>
            <td>{{db.cnpj}}</td>
            <td>{{db.estado_Civil}}</td>
            <td>{{db.contato_SMS}}</td>
            <td>{{db.whatsapp}}</td> 
      </tr>
    </tbody>
  </table>          
</div>
{% endblock %}
      

      
